.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.tagline {
  width: 30%;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}
.hero-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
}
.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
.block {
  flex: 1;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: black;
}
h1 {
  font-size: 6vw;
  font-weight: 800;
  line-height: 100%;
  color: white;
  mix-blend-mode: difference;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.header-item {
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  mix-blend-mode: difference;
}
.header-item h1 {
  position: relative;
}
.counter {
  position: absolute;
  bottom: 6rem;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.counter p {
  font-size: 30px;
  position: relative;
  line-height: 120%;
  color: yellow;
}
.cover-screen {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
}

@media (max-width: 900px) {
  .tagline {
    width: 80%;
    bottom: 10rem;
  }

  .header-item h1 {
    font-size: 8vw; /* Adjust to a more visible size */
  }

  .header {
    top: 45%; /* Adjust position for better visibility on mobile */
  }
}
@media (max-width: 768px) {
  .counter {
    position: absolute;
    bottom: 6rem;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .counter p {
    font-size: 20px;
    position: relative;
    line-height: 120%;
    color: yellow;
  }
}
